@model IEnumerable<Homework6.Models.Product>

@{
    ViewBag.Title = "ProductDetails";
}

<h2>ProductDetails</h2>

@foreach (var item in Model) {
    <ul>
        <li>
            @Html.DisplayNameFor(model => model.Name) :
            @Html.DisplayFor(modelItem => item.Name)
        <li>
        <li>
            @Html.DisplayNameFor(model => model.ProductNumber) :
            @Html.DisplayFor(modelItem => item.ProductNumber)
        <li>
        <li>
            @Html.DisplayNameFor(model => model.Color) :
            @Html.DisplayFor(modelItem => item.Color)
        <li>
        <li>
            @Html.DisplayNameFor(model => model.ListPrice) :
            @Html.DisplayFor(modelItem => item.ListPrice)
        <li>
        <li>
            @Html.DisplayNameFor(model => model.Size) :
            @Html.DisplayFor(modelItem => item.Size)
        <li>
        <li>
            @Html.DisplayNameFor(model => model.Weight) :
            @Html.DisplayFor(modelItem => item.Weight)
        <li>
        <li>
            @Html.DisplayNameFor(model => model.ProductLine) :
            @Html.DisplayFor(modelItem => item.ProductLine)
        <li>
        <li>
            @Html.DisplayNameFor(model => model.Class) :
            @Html.DisplayFor(modelItem => item.Class)
        <li>
        <li>
            @Html.DisplayNameFor(model => model.ProductModel.Name) :
            @Html.DisplayFor(modelItem => item.ProductModel.Name)
        <li>
        <li>
            @Html.DisplayNameFor(model => model.ProductSubcategory.Name) :
            @Html.DisplayFor(modelItem => item.ProductSubcategory.Name)
        <li>
        <li>
            @Html.ActionLink("Reviews", "Reviews", new { ID = item.ProductID}, "Home")
        </li>
        <li>
            @Html.ActionLink("Add Review", "Create", new { ID = item.ProductID }, "Home")
        </li>
    </ul>
}
